* {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#pickles {
  padding: 2%;
}

.product-name {
  margin-top: 20px;
}

.product-name li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-justify: left;
}

.relish, .pickles {
  margin: 15px;
}

.col-lg-5 {
  border: 3px solid white;
  padding: 5%;
  padding-right: 5px;
  padding-left: 5px;
  margin: 3%;
  text-justify: left;
  background-color: #4d830e;
  border-radius: .8em;
}

image {
  border-color: white solid;
}

.fa-solid {
  color: white;
  border: none;
}

.fw-bold {
  color: white;
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  background-color: #82CF2B!important;
}

  /* Navbar links */
.navbar-nav  li a:hover {
  color: #EAE340 !important;
}

.navbar-nav  li a {
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

.nav-link {
  color: #fff; 
}

.navbar li {
  float: left;
  text-align: center;
  padding: 52px;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
  height: 10px;
  color: #ffffff;
}

.navbar {
  width: 100%;  
  background-color: #4d830e; 
}

#main-nav {
  color: #ffffff;
}

.img-fluid {
  padding:none;
  margin: none;
}

.product-pic {
  text-align: center;
  padding: 1%;  
  height: 50;
  width: 50;
}

#pickles, #relish {
  text-align: center;
}


ul {
  list-style-type: none;
}

.pickles, .relish {
  display: flex;
  height: 50;
  width: 50;
}
  
.fa-pepper-hot {
  color:#821D01;   
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.right {
  float: right;
}

#contact {
  text-align: center;
}

.bg-4 {
  background-color: #4d830e;
  color: #ffffff;
  text-align: right;
}
